%html
  %head
    %title LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com
  %body
    %center
      %h1 LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com
      %img{ :src => 'https://i.imgflip.com/308yzc.jpg' }
      A dumb link redirector that references the target through URL capitalization
      %form
        Target URL:
        %input{ :name => "target" }
        %input{ :type => "submit" }
      or, curl http://LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com/ --data target=http://example.com
