%html
  %head
    %title LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com
  %body
    %center
      %h2 www.LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com
      %img{ :src => 'https://i.imgflip.com/308yzc.jpg' }
      %p A dumb link redirector that references the target through URL capitalization
      %form
        Target URL:
        %input{ :name => "target" }
        %input{ :type => "submit" }
      %p or, curl http://www.LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com/ --data target=http://example.com
