%html
  %head
    %title LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com
  %body
    %center
      %h2 www.LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com
      %img{ :src => 'https://i.imgflip.com/308yzc.jpg' }
      %p A dumb link redirector that references the target through URL capitalization. Create a new redirection like so:
      %p curl http://www.LoREMIpSumDolorSItAmETCoNsecTeTURADIpiscinGEliTSeDDOEIUsmOdTeMp.com/ --data target=http://example.com
